@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cinza: #536976;
    --cinza-escuro: #161616;
    --azul: #5C80BC;
    --azul-escuro: #292e49;
    --cinza-azulado: #373e5f;
    --roxo-escuro: #0F0326;
    --verde: #2bb94a;
    --vermelho: #d85858;
    --vermelho-alerta: #ec1010c9;

    --gradiente-fundo: linear-gradient(to right, var(--cinza), var(--azul-escuro));

    --font-padrao: 'Josefin Sans', Arial, sans-serif;
    --font-destaque: 'Volkhov', Arial, sans-serif;

    --brilho: #fffffff5;
    --sombra: 1px 5px 10px #00000033;
    --sombra-2: 2px 2px 10px #0000007a;
}

body {
    background: whitesmoke;
}

.btn-voltar {
    font: bold 20px var(--font-padrao);
    color: white;
    background-color: var(--vermelho);
    border: 2px solid transparent;
    padding: 12px 28px;
    border-radius: 5px;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.btn-voltar:hover {
    border: 2px solid white;
    background-color: var(--azul-escuro);
}

article.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background: var(--gradiente-fundo);
}

article h2 {
    color: var(--cinza-azulado);
}

article form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 550px;
    padding: 50px;
    border-radius: 10px;
    top: 120px;
    box-shadow: var(--sombra-2);
    background-color: whitesmoke;
}

form>p {
    margin-top: 20px;
}


fieldset, fieldset div {
    display: flex;
    flex-direction: column;
}

fieldset span {
    color: var(--vermelho-alerta);
    font-size: 18px;
    margin: 0 0 6px 0;
    display: none;
}

form, input, span {
    transition: 300ms;
}

input.error {
    border-color: var(--vermelho-alerta);
}

span.error {
    display: inline-block;
}

input {
    margin: 10px 0;
    padding: 15px 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font: 300 22px var(--font-padrao);
    color: gray;
    background: transparent;
}

.btn-mostra-senha {
    position: absolute;
    padding: 9px;
    border-radius: 0 5px 5px 0;
    background: gray;
    margin: 10px 0 0 498px;
    cursor: pointer;
}

.btn-mostra-senha img {
    width: 36px;
}

.checkbox-grade {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-grade label {
    font-size: 18px;
    margin-left: 15px;
    user-select: none;
    cursor: pointer;
}

.btn-login {
    color: white;
    color: white;
    margin-top: 30px;
    padding: 16px 40px;
    border-radius: 10px;
    background-color: var(--verde);
    box-shadow: var(--sombra);
    cursor: pointer;
    font: bold 26px var(--font-padrao);
    transition: 300ms ease-in-out;
}

.btn-login:hover {
    transform: scale(1.05);
    box-shadow: 1px 5px 10px #0000001a;
}

.separacao {
    text-align: center;
    color: gray;
    margin-bottom: 27px;
}

.separacao::after {
    content: "";
    background-color: gray;
    width: 84%;
    height: 2px;
    bottom: 76px;
    left: 50px;
    position: absolute;
}

.outros-links a {
    font-size: 18px;
    color: var(--cinza);
}

.outros-links a:hover {
    font-size: 18px;
    text-decoration: underline;
}