@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cinza: #536976;
    --cinza-escuro: #161616;
    --azul: #5C80BC;
    --azul-escuro: #292e49;
    --cinza-azulado: #373e5f;
    --roxo-escuro: #0F0326;
    --verde: #2bb94a;
    --vermelho: #d85858;
    --vermelho-alerta: #ec1010c9;

    --gradiente-fundo: linear-gradient(to right, var(--cinza), var(--azul-escuro));

    --font-padrao: 'Josefin Sans', Arial, sans-serif;
    --font-destaque: 'Volkhov', Arial, sans-serif;

    --brilho: #fffffff5;
    --sombra: 1px 5px 10px #00000033;
    --sombra-2: 2px 2px 10px #0000007a;
}

body {
    background: whitesmoke;
}

.btn-voltar {
    font: bold 20px var(--font-padrao);
    color: white;
    background-color: var(--vermelho);
    border: 2px solid transparent;
    padding: 12px 28px;
    border-radius: 5px;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.btn-voltar:hover {
    border: 2px solid white;
    background-color: var(--azul-escuro);
}

article.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background: var(--gradiente-fundo);
}

article h2 {
    color: var(--cinza-azulado);
}

article form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 550px;
    padding: 50px;
    top: 130px;
    border-radius: 10px;
    box-shadow: var(--sombra-2);
    background-color: whitesmoke;
}

article .form-cadastro{
    top: 100px;
}

form>p {
    margin-top: 20px;
    font-size: 22px;
    line-height: 27px;
}


fieldset, fieldset div {
    display: flex;
    flex-direction: column;
}

fieldset span {
    color: var(--vermelho-alerta);
    font-size: 18px;
    margin: 0 0 6px 0;
    display: none;
}

form, input, span {
    transition: 300ms;
}

input.error {
    border-color: var(--vermelho-alerta);
}

span.error {
    display: inline-block;
}

input {
    margin: 10px 0;
    padding: 13px 16px;
    border: 2px solid gray;
    border-radius: 5px;
    font: 300 20px var(--font-padrao);
    color: gray;
    background: transparent;
}

.btn-mostra-senha {
    position: absolute;
    padding: 9px;
    border-radius: 0 5px 5px 0;
    background: gray;
    margin: 10px 0 0 503px;
    cursor: pointer;
}

.btn-mostra-senha img {
    width: 29px;
}

.checkbox-grade {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
}

.checkbox-grade label {
    font-size: 18px;
    margin-left: 15px;
    user-select: none;
    cursor: pointer;
}

.checkbox-grade label>a {
    font-size: 18px;
    color: var(--cinza);
    text-decoration: underline;
}

.checkbox-grade label>a:hover {
    color: darkviolet;
}

.btn-login, .btn-cadastrar, .btn-recuperar {
    color: white;
    margin-top: 30px;
    padding: 16px 40px;
    border-radius: 10px;
    background-color: var(--verde);
    text-shadow: var(--sombra);
    box-shadow: var(--sombra);
    cursor: pointer;
    font: bold 24px var(--font-padrao);
    transition: 300ms ease-in-out;
}

.btn-login:hover, .btn-cadastrar:hover, .btn-recuperar:hover {
    transform: scale(1.05);
    box-shadow: 1px 5px 10px #0000001a;
}

.btn-cadastrar {
    background-color: orange;
}

.separacao {
    text-align: center;
    color: gray;
    margin-bottom: 18px;
}

.separacao::after {
    content: "";
    background-color: gray;
    width: 84%;
    height: 2px;
    bottom: 82px;
    left: 50px;
    position: absolute;
}

.outros-links a, .outros-links button {
    font: normal 18px var(--font-padrao);
    background-color: transparent;
    cursor: pointer;
    color: var(--cinza);
}

.outros-links a:hover, .outros-links button:hover {
    text-decoration: underline;
}

@media (max-width:650px) {
    article form {
        width: 350px;
    }

    .btn-mostra-senha {
        margin: 10px 0 0 303px;
    }
}

@media (max-width: 470px) {

    article form {
        width: 290px;
        padding: 35px;
    }

    .btn-voltar {
        font: bold 16px var(--font-padrao);
        padding: 8px 16px;
    }

    article h2 {
        font-size: 45px;
    }

    form p {
        font-size: 18px;
    }

    input {
        font-size: 18px;
        padding: 10px 13px;
    }

    fieldset span {
        font-size: 16px;
    }    

    .btn-mostra-senha {
        padding: 7px;
        margin: 10px 0 0 250px;
    }
    
    .btn-mostra-senha img {
        width: 26px;
    }

    .checkbox-grade label, .checkbox-grade label>a {
        font-size: 16px;
    }

    .btn-login, .btn-cadastrar, .btn-recuperar {
        padding: 10px 26px;
        font-size: 20px;
    }

    .separacao::after {
        bottom: 102px;
        left: 40px;
        width: 78%;
    }

    .outros-links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .outros-links span {
        display: none;
    }

    .outros-links a, .outros-links button {
        font-size: 16px;
        margin-top: 15px;
    }
}